@import url(./main.css);
@import url(./footer.css);

*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    font-family:spotify-circular,Helvetica,Arial,sans-serif;
}

#svg{
    width: 7.5em;
    fill:white;
    margin-top:10px;
    margin-left:100px;

}
#navtag{
    border:2px solid;
    height:80px;
    background-color: black;
    width:100%;
}
#sub-nav{
    float: right;
    height:50px;
    width:600px;
}
#sub-nav ol{
    display: flex;
    justify-content: space-between;
    color:white;
    width:450px;
    list-style:none;
    margin-left:25px;
    font-family:CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
margin-top:23px;
font-size:18px;

}
#sub-nav ol li:hover{
    color:rgb(26, 197, 26);
}
#div{
    height:550px;
    width:100%;
    background:url("https://www.scdn.co/i/free/bubbles-dktp.svg") center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
}

#phonebox{
    height:570px;
    width:700px;
    margin-top:100px;
    margin-left:10px;
}
#srcimg{

    top:200px;
    position: absolute;
    margin-left:230px;
    margin-top:20px;
}
#maindiv{
 margin-left:600px;
 position: absolute;
 top:280px;
 font-family:spotify-circular,Helvetica,Arial,sans-serif;
 font-size:30px;
 color:white;
 }

 #btn{
    width:200px;
    height:50px;
    color:black;
    background-color: white;
    border:1px solid white;
    font-size:13px;
    margin-top: 10px;
    border-radius:30px;
    font-weight:bold;
   text-transform:uppercase;
 }
 #btn:hover{
    height:55px;
    width:220px;
    height:55px;
 }